* {
  scroll-behavior: smooth;
  -moz-scroll-behavior: smooth;
  -webkit-scroll-behavior: smooth;
  -o-scroll-behavior: smooth;
  -ms-scroll-behavior: smooth;
}
body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  padding:0px;
  text-transform: capitalize;
  background-color: #39445a;
  box-sizing:border-box;
  color:#fff;
  position: relative;
}
.App{
  padding-top: 140px;
  padding-bottom: 100px;
  
}
@media(max-width: 576px) { 
  .App{
    padding-top: 80px;
    padding-bottom: 70px;
    overflow: hidden;
  }
}
@media(min-width: 576px) { 
  .App{
    padding-top: 100px;
    padding-bottom: 70px;
    overflow: hidden;
  }
}
@media(min-width: 768px) { 
  .App{
    padding-top: 140px;
    padding-bottom: 100px;
    overflow: hidden;
  }
}
/* @media(min-width: 576px) { 
  font-size: 40px;
  padding: 10px 0px;
};
@media(min-width: 768px) {  
  font-size: 54px;
  padding: 17px 0px;
};
@media(min-width: 992px) {
  font-size: 63px;
  padding: 10px 0px;
}; */